   @media screen and (max-width: 990px) {
      .header{
        position:fixed;
        width: 100%;
        left:0px;
        top:0px;
        overflow:hidden;
        background: #F5F5F5;
        box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.17);
        display:show; 
    }
    .main {
      margin-top: 30px; /* Add a top margin to avoid content overlay */
    }
   .wrapper{
    height:500px;
    background-image: url(collov-home-design-js8AQlw71HA-unsplash.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: center;
    display:flex;
    margin-top:0%;
    width:100%;
   }
   .wrappertext{
    flex:1;
    margin-left:10%;
    margin-top:26%;
  }
  .wrap1{
    height:20px;
    left: 14px;
    top: 6px;
    font-family: Cera Pro;
    font-style: normal;
    font-weight: normal;
    font-size:15px;
    line-height: 16px; 
    color: #FFFFFF;
    
    }
  .wrap{
    flex-direction: column;
    align-items: flex-start;
    padding: 6px 14px;
    position: static;
    width:250px;
    height:10%;
    left: 0px;
    top: 0px;
    background: #231F20;
    border-radius: 4px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 36px 0px;
  }
  .wraptext2{
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 15px 21px;
   position: static;
   width:165px;
   height:40px;
   margin-left:50px;
   margin-top:-40px;
   background: #EB7F58;
   border-radius: 4px;
   }
   .wraptext3{
    width: px;
    height: 20px;
    left: 50px;
    margin-top:7px;
    font-family: Cera Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    }
  .midbar{
    width:100%;
    height: 313px;
    margin-left:0%;
    margin-top:11%;
    background:url(sylwia-pietruszka-XwdSGEiOahM-unsplash.png);
    border-radius: 5px;
    background-position:cover;
    }
    .midbartext{
      width:250px;
      height: 200px;
      margin-left:15%;
      margin-top:0px;
      font-family: Cera Pro;
      font-style: normal;
      font-weight: normal;
      font-size:30px;
      line-height:29px;
      text-align:center;
      color: #212429;
      }
      .wrap1{
        height: 16px;
        left: 14px;
        top: 6px;
        font-family: Cera Pro;
        font-style: normal;
        font-weight: normal;
        font-size:20px;
        line-height: 16px; 
        color: #FFFFFF;
        }
      .wraptext{
       position: static;
       height: 200px;
       left: 0px;
       top: 64px;
       font-family: Cera Pro;
       font-style: normal;
       font-weight: bold;
       font-size:30px;
       line-height: 50px;
       color: #212429;
       flex: none;
       order: 1;
       flex-grow: 0;
       margin: 36px 0px;
         }
      .sec1{
        width:100%;
        height:1800px;
        left: 0px;
        margin-top:8%;
        background: #07213B;
        }
  .asec2{
   width: 299px;
   height: 38px;
   margin-left:12%;
   top: 0;
   font-family: Cera Pro;
   font-style: normal;
   font-weight: bold;
   font-size: 30px;
   line-height: 38px;
   color: #FFFFFF;
          }
  .bsec2{
   height: 25px;
   margin-left:40%;
   margin-top:-2%;
   font-family: Cera Pro;
   font-style: normal;
   font-weight: bold;
   font-size: 20px;
   line-height: 25px;
   color: #EB7F58;
   flex:1;
    }
  .name{
   position: static;
   width:300px;
   height: 18px;
   left: 0px;
   top: 0px;
   font-family: Cera Pro;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 15px;
   color: #FFFFFF;
   flex: none;
      }
      .artist{
        width:100%;
        height: 15px;
        left: 0px;
        top: 21px; 
        font-family: Cera Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 15px;
        color: #FFFFFF;
      }
      .price{
        position: static;
        width: 66x;
        height: 15px;
        left: 0px;
        top: 39px;
        font-family: Cera Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 15px;
        color: #FFFFFF;
        }
        .name1{
          position: static;
          width:300px;
          height: 18px;
          left: 0px;
          top: 0px;
          font-family: Cera Pro;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 18px;
          color: #4B4B4B;
        }
        .artist1{
          width: 200px;
          height: 15px;
          left: 0px;
          top: 21px; 
          font-family: Cera Pro;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height:1px;
          color: #4B4B4B;
          flex: none;
        }
        .price1{
        position: static;
        width: 166px;
        height: 15px;
        left: 0px;
        top: 39px;
        font-family: Cera Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 21px;
        line-height: 1px;
        color: #4B4B4B;
        }
        .wframes{
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          padding: 0px;
          width:50%;
          height: 39px;
          margin-left:8%;
          margin-top:10%;
          display:none;
        }
        .wline{
          width:70%;
          height: 0px;
          margin-left:8.8%;
          margin-top:7.8%;
          border: 1px solid #C8D2DF;
          }
         .thtext{
         width:126px;
         margin-left:28%;
         margin-top:5%;
         font-family: Cera Pro;
         font-style: normal;
         font-weight: normal;
         font-size: 18px;
         line-height:20px;
         text-align: center;
         color: #2E394D;
         height:22%;
}
.btn4{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 21px;
  width: 178px;
  height: 50px;
  margin-left:20%;
  margin-top:5%;
  background: #EB7F58;
  border-radius: 4px;
  }
  .snow{
    width: 75px;
    height: 20px;
    left: 51.5px;
    margin-top: 15px;
    font-family: Cera Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    }
    .wframes{
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0px;
      width:50%;
      height: 39px;
      margin-left:8%;
      margin-top:10%;
      display:flex;
    }
    .dealtext{
      height: 16px;
      margin-left:25%;
      margin-top:0px;
      font-family: Cera Pro;
      font-style: normal;
      font-weight: normal;
      font-size: 19px;
      line-height:16px;
      color:#07213B;
      }
    .dealtext1{
     width:60%;
     margin-left:7%;
     padding-top:5%;
     font-family: Cera Pro;
     font-style: normal;
     font-weight: normal;
     font-size: 18px;
     line-height: 23px;
     color: #FFFFFF; 
     }
     .thimg{
      margin-left:30%;
      top:10%;
      border-radius:10px;
      }
      .coltext{
      margin-left:30%;
      }
      .name2{
        position: static;
        width: 170px;
        height: 50px;
        left: 0px;
        top: 0px;
        font-family: Cera Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 25px;
        color: #FFFFFF;

      }
      .artist2
      {position: static;
      width:100px;
      height: 15px;
      left: 0px;
      top: 53px;
      font-family: Cera Pro;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height:0px;
      color: #FFFFFF;
      flex: none;
      order: 1;}
      .price2{
        position: static;
      width: 127px;
      height: 33px;
      left: 0px;
      top: 71px;
      font-family: Cera Pro;
      font-style: normal;
      font-weight: bold;
      font-size: 21px;
      line-height:0px;
      color: #FFFFFF;
      flex: none;
      order: 2;
      flex-grow: 0;
      margin: 3px 0px;
      }
      .btn1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px 21px;
        width: 160px;
        height: 50px;
        margin-left:60%;
        margin-top:10%;
        background: #EB7F58;
        border-radius: 4px;
        }
        .snow1{
          width: 75px;
          height: 20px;
          left: 51.5px;
          top: 15px;
          font-family: Cera Pro;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 20px;
          color: #FFFFFF;
          }
          .thimg1{
        position: static;
        height: 105px;
        margin-left:35%;
        margin-top: 20px;
        
        }
        .thtext1{
          position: static;
          width: 300px;
          height: 40px;
          margin-left:20.5px;
          top: 0px;
          font-family: Cera Pro;
          font-style: normal;
          font-weight: bold;
          font-size:20px;
          line-height: 20px;
          text-align: center;  
          color: #FFFFFF;
        }
        .thtext2{
      position: static;
      width: 315px;
      height: 54px;
      margin-left:20px;
      top: 54px;
      font-family: Cera Pro;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 18px;
      text-align: center;
      color: #FFFFFF
   }
   .thsub{
    width:60%;
    height: 39px;
    margin-left:6%;
    margin-top:3%;
    background: #FFFFFF;
    border: 1px solid rgba(127, 145, 168, 0.4);
    box-sizing: border-box;
    border-radius: 4px;
  }
  .thsub1{
    width:100%;
    height:37px;
    left: 19px;
    top: 9.78px;
    font-family: Cera Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #4B4B4B;
    border:none;
  }
  .btn2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 98px;
    height: 39px;
    margin-left:90%;
    margin-top:-5px;
    background: #EB7F58;
    border-radius: 4px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin:-18% 100%;
  }
  .snow2{
    width: 56px;
    height: 15px;
    left: 21px;
    margin-top:12%;
    font-family: Cera Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
    color: #FFFFFF;
  }
  .row4{
    width:100%;
    height:1700px;
    left:0;
    margin-top:10%;
  }
  .bsec3{
    display:none;
  }
  .deal1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 38px 18px;
    width:100%;
    height: 28px;
    margin-left:0%;
    top:3%;
    background:none;
    border-radius: 4px;
  }
  .footer{
    margin-top:10%;
     background: #204063;
 }
 .foot1 a{
  height: 22px;
  left: 93.08px;
  top: 4447px;
  font-family: Cera Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 120.2%;
  color: #FFFFFF;
  }
  .footline{
    width:100%;
   height: 0px;
   left:0px;
   margin-top:5%;
   border: 1px solid #FFFFFF;
   }
   .foottext1{
    width:80%;
    height: 58px;
    font-family: Cera Pro;
    font-style: normal;
    font-weight: normal;
    font-size:20px;
    line-height:150.2%;
    color: #FFFFFF;
    margin-top:10%;
    }
    .foothead{
      height: 25px;
      margin-top:8%;
      font-family: Cera Pro;
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 25px;
      color: #FFFFFF;
      }

      .coltext1{
      width: 350px;
      left: 600px;
      top: 4425px;
      font-family: 'Abel', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 180.2%;
      color: #FFFFFF;
      }
    /*.....sellart......*/
    .swrapper{
      width:100%;
      height:120%;
      left: 0px;
      top: 74px;
      background: #07213B;
      }
      .sw1{
        margin-top:8px;
      }
      .sawtext{
        width:420px;
        height: 196px;
        left: 0px;
        top: 0px; 
        font-family: Avenir;
        font-style: normal;
        font-weight: 900;
        font-size: 50px;
        line-height: 68px; 
        color: #FFFFFF;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 100px 15px;
      }
      .sawtext1{
      width:100%;
      height: 109px;
      left: 0px;
      top: 221px;
      font-family: Avenir;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 180.2%;
      color: #FFFFFF;
      flex: none;
      order: 1;
      flex-grow: 0;
      margin:-50px 15px;
      }
      .swimg1{
        width: 222px;
        height: 420px;
        margin-left:100px;
        margin-top:80px;
        background-image: url(landing-page-headshot@3x\ 1.png);
        background-repeat: no-repeat;
        background-size: contain;
        
      }
      .sw2text{
width:100%;
height: 78px;
margin-top:50px;
font-family: Cera Pro;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 38px;
color: #000000;
padding-left: 100px;
}
.sw3{
  width:100%;
  height:700px;
  left: 0px;
  margin-top:10px;
  background: #07213B;
  }
  .swcol1{
    margin-left:5%; 
    margin-top:100px;
   }
   .sw3text1{
    width:400px;
    height:50px;
    margin-left:10px;
    margin-top:30px; 
    font-family: Cera Pro;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 63px;
    text-align: center; 
    color: #000000; 
  }
 .sw3text2{
  width:400px;
  height:100px;
  left: 0px;
  top: 77px;
  font-family: Cera Pro;
  font-style: normal;
  font-weight: normal;
  font-size:20px;
  line-height: 140.2%;
  text-align:center; 
  color: rgb(179, 178, 178);
  flex: none;
  order: 1;
  flex-grow: 0;
  margin:4px 3px;
 }
 .sw5text2{
  width:400px;
  height:80px;
  margin-left:15px;
  top: 77px;
  font-family: Cera Pro;
  font-style: normal;
  font-weight: normal;
  font-size:20px;
  line-height: 120.2%; 
  color: rgb(179, 178, 178);
  flex: none;
  order: 0;
 }
 .btn5{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 21px;
  width: 178px;
  height: 50px;
  margin-left:23%;
  margin-top:1%;
  background: #EB7F58;
  border-radius: 4px;
  }
  .sw5img{
    padding-top: 100px;
    margin-left: 4%;
  }
/*.....painting.......*/
.pt1{
  width:100%;
  height:600px;
  left: 0px;
  margin-top:50px;
  background: #07213B;
  }
  .ptext1{
    width:400px;
    height: 63px;
    margin-left:10px;
    margin-top:30px; 
    font-family: Cera Pro;
    font-style: normal;
    font-weight: 900;
    font-size:30px;
    line-height: 63px;
    text-align:left; 
    color: #FFFFFF; 
  }
  .pt2text{
  margin-left:10px;
  margin-top:10px;
  font-size:20px;
}
.pt2text1{
  width:100%;
  height: 38px;
  padding-top:10px;
  font-family: Cera Pro;
  font-style: normal;
  font-weight: bold;
  font-size:20px;
  line-height: 38px;
  color: #000000;
  padding-left:100px;
  margin-bottom:10px;
  }
}

}